body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 15px;
    transition: background-color 0.3s, padding 0.3s;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: #a1ddef;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ee7278;
}

.content {
    margin-top: 70px; /* To prevent content from being hidden behind the fixed navbar */
    padding: 20px;
}